@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* .inner-div ul{
    list-style-type: none;
}
.inner-div li{
    margin-top: 1rem;
} */
input{
    cursor:pointer;
}
label{
    cursor:pointer;
}
body{
    background-color: rgba(49, 69, 248, 0.461);
}
.div-main{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.outer-div{
    width: 43vw;
    /* height: 40vh; */
    background-color:white;
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow:0 10px 25px -0.7px rgb(39, 39, 39);
}
.outer-div h1{
    font-weight: 600;
    font-size: 30px;
}
.inner-div h2{
    font-size: 20px;
    margin:1rem 0 2rem 0 ;
}
.answer{
    width: 100%;
    text-align: left;
    padding:8px;
    color: black;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
.answer:hover:not([disabled]){
    color: #fff;
    background-color: #222;
}
.answer:disabled{
    cursor:not-allowed;
}
#submit{
    margin-top: 1rem;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
#next{
    display: none;
    padding: 5px;
    margin-top: 22px;
    outline: 2px solid black;
    border-radius: 10px;
    /* background: chartreuse; */
    cursor: pointer;
    width: 100px;
}